.registration {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  align-self: center;
  margin-top: 100px;
}
.registration__header {
  font-size: 30px;
  font-weight: 700;
}
.registration input {
  margin: 10px 20px;
  width: 80%;
}



.registration__btn {
  border: none;
  background-color: #566885;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  padding: 5px 10px;
  align-self: flex-end;
  margin-top: 10px;
}

.toggle-icon-passive {
  cursor: pointer;


}

.ripple-active{
  width: 100%;
  height: 100%;
  z-index: -1;
}
.ripple-passive{
  width: 100%;
  z-index: 1;
}

.pass-input-active{
  color: #000000;
  background:transparent;
  position: absolute;
}
.pass-input-passive{
  color: #000000;
  background:transparent;
}

.toggle-icon-passive{
  font-size:12px;
}

span {
  margin-top: 20px;
}
